*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-decoration: underline;
}

#wrapper{
    border: 1px solid red;
    width: 40%;
    border: 15px solid rgb(42, 147, 165);
    border-radius: 8px;
    font-size: 25px;
    overflow-y: scroll;
    height: 80vh;
    text-align: center;
    color: black;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper ul{
    list-style: none;
}
li{
    padding: 2% 0;
    font-weight: bold;
}